body, div, h1, h2, h3, h4, h5, h6, p, ul, li, span {
    margin: 0;
    padding: 0;
}
/** { touch-action: none; }*/
body{
    background: #fcf5eb;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}
.cl{
    display: inline-block;
    overflow: hidden;
}
.left{
    float: left;
}
.right{
    float: right;
}
.wth_100{
    width: 100%;
}
.all{
    width: 7.5rem;
    overflow: hidden;
}
/*抽屉内容*/
.drawer{
    width: 7.5rem;
    height: 100%;
    position: fixed;
    left: -5.9rem;
    font-size: 0;
    z-index: 666;
}
.black{
    width: 1.6rem;
    height: 100%;
    background: black;
    opacity: 0;
}
/*运动部分*/
.impor{
    position: relative;

}
/*顶部*/
.top_my{
    height: 4rem;
    width: 100%;
    margin-left: 0.2rem;
    background-size: contain;
    position: relative;
}
.self_mymag{
    width: 4rem;
    height: 2.4rem;
    position: absolute;
    left: 0.37rem;
    top: 0.9rem;
    font-size: 0;
}
.head_ph{
    width: 1.93rem;
    position: absolute;
    top:0.25rem;
    left: 0.3rem;
}
.cutename{
    font-size: 0.26rem;
    color: #333333;
    position: absolute;
    right: 0.39rem;
    top: 1.06rem;
}
.vip_bo{
    width: 1.22rem;
    position: absolute;
    bottom: 0.58rem;
    right: 0.28rem;
}


.drawer_content li{
    list-style: none;
    width: 2rem;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.32rem;
    color: #333333;
    margin: 0rem 0rem 0.7rem 0.6rem;
}
.drawer_list{
    width: 0.56rem;
    margin: 0 0.6rem;
}








.nav{
    background: #fcf5eb;
    height: 0.88rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
.nav_1{
    height: 0.8rem;
    width: 0.8rem;
    position: absolute;
    left: 0.44rem;
    bottom: 0.04rem;
}
.nav_1p{
    position: relative;
    width: 0.39rem;
    top: -0.35rem;
    left: 0.24rem;

}
.nav_2{
    height: 0.63rem;
    width: 4.2rem;
    position: absolute;
    left: 1.65rem;
    bottom: 0.12rem;
}
.search_bg{
    width: 4.2rem;
    position: relative;
    top: -0.3rem;
}
.search{
    width: 3.6rem;
    height: 0.52rem;
    text-align: center;
    background: none;
    position: relative;
    top: -1.76rem;
    left: 0.28rem;
    font-size: 0.22rem;
    border: none;
    outline: none;
}
.nav_3{
    height: 0.42rem;
    width: 0.47rem;
    position: absolute;
    right: 0.61rem;
    bottom: 0.25rem;
}
.nav_3p{
    width: 0.47rem;
    position: relative;
    top: -0.49rem;
}

/*导航栏底部*/
.navfooter{
    height: 0.97rem;
    width: 100%;
    border-top: 1px solid rgb(225,222,217);
    position: fixed;
    bottom: 0;
    z-index: 999;
    background: rgb(254,250,244);
}
.navfooter_1{
    width: 1.33rem;
    height: 0.97rem;
    float: left;
}
.mg_l_21{
    margin-left: 0.212rem;
}
.navfooter_2{
    width: 0.48rem;
    height: 0.77rem;
    margin: 0 auto;
    margin-top: -0.2rem;
}
.navfooter_3{
    width: 0.48rem;
    height: 0.77rem;
    margin: 0 auto;
    margin-top: -0.2rem;
}
.navfooter_4{
    width: 0.64rem;
    height: 0.77rem;
    margin: 0 auto;
    margin-top: -0.2rem;
}
.div_wrapper{
    margin-top: 0.87rem;
    height: 6.25rem;
}
.nft_1{
    vertical-align:middle;
}
.nft_2{
    vertical-align:middle;
}
/*展示图片*/
.showcase{
    width: 6.46rem;
    height: 1.5rem;
    margin: 0.32rem auto 0;
    background: rgb(252,245,235);
}
.showcase_1{
    width: 1.3rem;
    height: 1.5rem;
    float: left;
    text-align: center;
}
.showclose{
    width: 0.95rem;
}
.mt_1{
    margin-top: -0.1rem;
}
.mg_l_42{
    margin-left:0.42rem;
}

/*优惠券*/
.discount{
    width: 6.46rem;
    height: 2.12rem;
    margin: 0.59rem auto 0;
    background: url("../img/rentangle.png") no-repeat;
    background-size: contain;
}
.discount_1{
    width: 1.98rem;
    height: 1.84rem;
    margin-top: 0.14rem;
    float: left;
}
.mg_lr_8{
    margin-left: 0.086rem;
    margin-right: 0.087rem;
}


/*banner展示*/
.banner_particular1{
    height: 4rem;
    width: 100%;
    margin-top: 0.25rem;
}
.mt_2{
    margin-top: 0.17rem;
}

/*你可能喜欢*/
.like{
    text-align: center;
    font-size: 0.24rem;
    color: #333333;
    margin-top: 0.54rem;
    margin-bottom: 0.2rem;
}
.like_content{
    width: 6.5rem;
    height: 5.13rem;
    margin: 0 auto;
    margin-bottom: 0.45rem;
}
.like_content1{
    width: 3.2rem;
}















