body, div, h1, h2, h3, h4, h5, h6, p, ul, li, span {
    margin: 0;
    padding: 0;
}
body{
    background: #fcf5eb;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}
.cl{
    display: inline-block;
    overflow: hidden;
}
.left{
    float: left;
}
.right{
    float: right;
}
.wth_100{
    width: 100%;
}



.nav{
    background: #fcf5eb;
    height: 0.88rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
.nav_1{
    height: 0.8rem;
    width: 0.8rem;
    position: absolute;
    left: 0.44rem;
    bottom: 0.04rem;
}
.nav_1p {
    position: relative;
    width: 0.2rem;
    top: -0.36rem;
    left: 0.24rem;
}
.nav_cus{
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    font-size: 0.36rem;
    font-weight: 500;
}




/*顶部*/
.top_my{
    height: 4rem;
    width: 100%;
    background: url("../img/my_bg.png") no-repeat;
    background-size: contain;
    position: relative;
    margin-top: 0.88rem;
}
.self_mymag{
    width: 6rem;
    height: 2.4rem;
    position: absolute;
    left: 0.37rem;
    top: 0.9rem;
    font-size: 0;
}
.head_ph{
    width: 1.93rem;
    position: absolute;
    top:0.25rem;
    left: 0.65rem;
}
.cutename{
    font-size: 0.26rem;
    color: #333333;
    position: absolute;
    left: 2.88rem;
    top: 1.06rem;
}
.vip_bo{
    font-size: 0.26rem;
    color: #a31515;
    font-weight: 600;
    position: absolute;
    bottom: 0.58rem;
    left: 2.86rem;
}


.center{
    margin-top: 0.4rem;
    text-align: center;
}
.photo{
    width: 5.51rem;
}
.swiper-button-prev{
    margin-top: 2rem;
    width: 0.16rem;
    height: 0.28rem;
    background: url("../img/vip_left.png") no-repeat;
    background-size: cover;
}
.swiper-button-next{
    margin-top: 2rem;
    width: 0.16rem;
    height: 0.28rem;
    background: url("../img/vip_right.png") no-repeat;
    background-size: cover;
}

